romkatv/zsh-defer
getantidote/use-omz
ohmyzsh/ohmyzsh path:plugins/brew conditional:is-macos
ohmyzsh/ohmyzsh path:plugins/macos conditional:is-macos
ohmyzsh/ohmyzsh path:plugins/kubectl kind:defer
olets/zsh-abbr kind:defer
olets/zsh-job-queue kind:defer
zsh-users/zsh-autosuggestions kind:defer
zsh-users/zsh-syntax-highlighting kind:defer
zsh-users/zsh-history-substring-search kind:defer
