# If you come from bash you might have to change your $PATH.
# export PATH=$HOME/bin:/usr/local/bin:$PATH

# Path to your oh-my-zsh installation.
export ZSH="$HOME/.oh-my-zsh"

# Set name of the theme to load --- if set to "random", it will
# load a random theme each time oh-my-zsh is loaded, in which case,
# to know which specific one was loaded, run: echo $RANDOM_THEME
# See https://github.com/ohmyzsh/ohmyzsh/wiki/Themes
ZSH_THEME=""

# Uncomment the following line to disable bi-weekly auto-update checks.
DISABLE_AUTO_UPDATE="true"

# You can set one of the optional three formats:
# "mm/dd/yyyy"|"dd.mm.yyyy"|"yyyy-mm-dd"
HIST_STAMPS="yyyy/mm/dd"

# on-my-zsh plugins
plugins=(
{{- range .zshPlugins }}
  {{ . }}
{{- end }}
)

source $ZSH/oh-my-zsh.sh

# aliases
if [ -f ~/.aliases ]; then
  source ~/.aliases
fi

# load configs
for file in $HOME/.config/zsh/conf.d/*.zsh; do
  [ -r "$file" ] && source "$file"
done

{{- if eq .chezmoi.os "darwin" }}
# load os specific config
source $HOME/.config/zsh/config-osx.zsh
{{- end }}

# init starship
if command -v starship >/dev/null 2>&1; then
  eval "$(starship init zsh)"
fi

# Ensure path arrays do not contain duplicates.
typeset -gU cdpath fpath mailpath path
