#!/bin/bash

set -eufo pipefail

{{ $brews := list
"curl"
"gh"
"git"
"git-lfs"
"gnupg"
"jq"
"wget"
"starship"
"eza"
"fnm" -}}

{{ $casks := list
"arc"
"alt-tab"
"stats"
"iterm2"
"karabiner-elements"
"spotify"
"visual-studio-code"
"1password-cli"
"font-meslo-lg-nerd-font"
"font-input" -}}

brew bundle --no-lock --file=/dev/stdin <<EOF
tap "homebrew/cask-fonts"
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
EOF
