#!/bin/bash

set -eufo pipefail

brew bundle --no-lock --file=/dev/stdin <<EOF
tap "1password/tap"
tap "homebrew-ffmpeg/ffmpeg"
tap "homebrew/cask-fonts"
tap "sdkman/tap"

brew "openssl@3"
brew "awscli"
brew "azure-cli"
brew "terraform"
brew "chezmoi"
brew "curl"
brew "dive"
brew "docker"
brew "docker-credential-helper"
brew "esphome"
brew "eza"
brew "fish"
brew "fnm"
brew "fzf"
brew "gh"
brew "git"
brew "git-filter-repo"
brew "git-lfs"
brew "grep"
brew "jq"
brew "kustomize"
brew "neovim"
brew "starship"
brew "tmux"
brew "trash"
brew "ugit"
brew "wget"
brew "zsh"
brew "zsh-completions"
brew "sdkman/tap/sdkman-cli"

cask "1password"
cask "1password-cli"
cask "alt-tab"
cask "appcleaner"
cask "arc"
cask "bettertouchtool"
cask "clipy"
cask "cursor"
cask "figma"
cask "firefox"
cask "firefox@developer-edition"
cask "flutter"
cask "font-input"
cask "font-meslo-lg-nerd-font"
cask "font-monaspace"
cask "google-chrome"
cask "google-chrome@canary"
cask "google-cloud-sdk"
cask "google-drive"
cask "google-japanese-ime"
cask "input-source-pro"
cask "iterm2"
cask "karabiner-elements"
cask "keka"
cask "ngrok"
cask "notion"
cask "orbstack"
cask "postman"
cask "qlimagesize"
cask "qlmarkdown"
cask "qlstephen"
cask "qlvideo"
cask "quicklook-csv"
cask "quicklook-pat"
cask "quicklookase"
cask "raycast"
cask "rectangle"
cask "slack"
cask "spotify"
cask "stats"
cask "switchresx"
cask "syntax-highlight"
cask "via"
cask "visual-studio-code"
cask "webex"
cask "zed"
cask "zoom"
EOF
