prefix=${HOME}/.npm-global
global-dir=${HOME}/Library/pnpm/global

init-author-name=Han
init-author-email=me@hanlee.co

ignore-workspace-root-check=true

@justincase-jp:registry="https://npm.pkg.github.com"

//registry.npmjs.org/:_authToken={{ (onepasswordItemFields "ncpwdcg66lffachhqtfsitfa6q").HanMBP.value }}
//npm.pkg.github.com/:_authToken={{ (onepasswordItemFields "wkjtnqmc7srxyq5rvoctcobl2y").HanMBP.value }}
