//registry.npmjs.org/:_authToken={{ (index (onepassword "ncpwdcg66lffachhqtfsitfa6q").fields 6).value }}

prefix=${HOME}/.npm-global
global-dir=${HOME}/Library/pnpm/global/5/node_modules

ignore-workspace-root-check=true
init-author-email=me@hanlee.co
init-author-name=Han
