{{/* boolean feature tags */}}
{{- $ephemeral := false -}}{{/* true if this machine is ephemeral, e.g. a cloud or VM instance */}}
{{- $work := false -}}{{/* true if this machine is a work machine */}}
{{- $headless := false -}}{{/* true if this machine does not have a screen and keyboard */}}
{{- $wsl := false -}}{{/* true if this machine is WSL */}}
{{- $personal := false -}}{{/* true if this machine should have personal secrets */}}
{{- "" -}}

{{- $osID := .chezmoi.os -}}
{{- if (and (eq .chezmoi.os "linux") (hasKey .chezmoi.osRelease "id")) -}}
{{-   $osID = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

{{/* detect GitHub codespaces, VSCode remote containers, Docker containers, Multipass VMs, and Vagrant boxes */}}
{{- if or (env "CODESPACES") (env "REMOTE_CONTAINERS_IPC") (eq .chezmoi.username "root" "ubuntu" "vagrant" "vscode") -}}
{{-   $ephemeral = true -}}
{{-   $headless = true -}}
{{- end -}}

{{/* detect Windows Subsystem for Linux (WSL) */}}
{{- if eq .chezmoi.os "linux" }}
{{-   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
{{-     $ephemeral = true -}}
{{-     $headless = true -}}
{{-     $wsl = true -}}
{{-   end }}
{{- end }}

{{/* work around unreliable hostname on darwin */}}
{{- $hostname := .chezmoi.hostname -}}
{{- if eq .chezmoi.os "darwin" -}}
{{-   $hostname := output "scutil" "--get" "LocalHostName" | trim -}}
{{- end -}}

{{- if eq .chezmoi.os "windows" -}}
{{-   $ephemeral = true -}}
{{- end -}}

{{- if not $ephemeral -}}
{{-   if eq $hostname "Han-MBP" -}}
{{-     $personal = true -}}
{{-   else if eq $hostname "ubuntu" -}}
{{-     $headless = true -}}
{{-     $personal = true -}}
{{-   else if eq $hostname "LX-240047" -}}
{{-     $work = true -}}
{{-   else if stdinIsATTY -}}
{{-     $headless = promptBoolOnce . "headless" "headless" -}}
{{-     $ephemeral = promptBoolOnce . "ephemeral" "ephemeral" -}}
{{-   else -}}
{{-     $ephemeral = true -}}
{{-     $headless = true -}}
{{-   end -}}
{{- end -}}


{{- $name := "Han" -}}
{{- $email := "me@hanlee.co" -}}
{{- if $work -}}
{{-   $name = "" -}}
{{-   $email = "" -}}
{{- end -}}

[data]
  name = {{ $name | quote }}
  email = {{ $email | quote }}
  ephemeral = {{ $ephemeral }}
  work = {{ $work }}
  wsl = {{ $wsl }}
  headless = {{ $headless }}
  hostname = {{ $hostname | quote }}
  personal = {{ $personal }}
  osid = {{ $osID | quote }}
  zshPlugins = [
    "aliases",
    "brew",
    "macos",
    "zsh-abbr",
    "zsh-z",
    "kubectl",
    "zsh-history-substring-search",
    "zsh-autosuggestions",
    "zsh-syntax-highlighting",
  ]

[github]
  refreshPeriod = "12h"
