{{ if not .ephemeral }}
[".antidote"]
type = "archive"
url = "https://github.com/mattmc3/antidote/archive/master.tar.gz"
exact = true
stripComponents = 1
refreshPeriod = "168h"
[".nano"]
type = "archive"
url = "https://github.com/scopatz/nanorc/archive/master.tar.gz"
exact = true
stripComponents = 1
refreshPeriod = "168h"
{{ end }}
