prefix=${HOME}/.npm-global

init-author-name=hannoeru
init-author-email=me@hanlee.co

{{ $computerName := output "scutil" "--get" "ComputerName" | trim }}
{{- if eq $computerName "Han-MBP" }}
//registry.npmjs.org/:_authToken={{ onepasswordRead "op://Private/Npmjs - hannoeru/Personal access tokens/HanMBP" }}
//npm.pkg.github.com/:_authToken={{ onepasswordRead "op://Private/github.com/Personal access tokens/HanMBP" }}
{{- end }}
