{{- $sshSignProgram := "" }}
{{- if eq .chezmoi.os "darwin" }}
{{-   $sshSignProgram = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign" }}
{{- else if lookPath "op-ssh-sign" }}
{{-   $sshSignProgram = lookPath "op-ssh-sign" }}
{{- end }}
{{- $delta := lookPath "delta" }}
[user]
  name = {{ .name }}
  email = {{ .email }}
{{- if $sshSignProgram }}
  signingkey = {{ onepasswordRead "op://Private/GitHub SSH Key/public key" }}
{{- end }}
[core]
  editor = code --wait
  excludesfile = ~/.config/git/ignore
  autocrlf = input
  safecrlf = true
{{- if $delta }}
  pager = delta
{{- end }}
[interactive]
{{- if $delta }}
  diffFilter = delta --color-only
{{- end }}
[delta]
  navigate = true  # use n and N to move between diff sections
  line-numbers = true

# clearly makes git better
[column]
  ui = auto
[branch]
  sort = -committerdate
[tag]
  sort = version:refname
[init]
  defaultBranch = main
[diff]
  algorithm = histogram
  colorMoved = plain
  mnemonicPrefix = true
  renames = true
[split-diffs]
  theme-name = github-dark-dim
[merge]
  conflictstyle = zdiff3
[pull]
  rebase = true
[push]
  default = simple
  autoSetupRemote = true
  followTags = true
[fetch]
  prune = true
  pruneTags = true
  all = true

# why the hell not?
[help]
  autocorrect = prompt
[commit]
{{- if $sshSignProgram }}
  gpgsign = true
{{- end }}
  verbose = true
[rerere]
  enabled = true
  autoupdate = true
[rebase]
  autosquash = true
  autostash = true
  updateRefs = true

{{- if $sshSignProgram -}}
# GPG signing
[gpg]
  format = ssh
[gpg "ssh"]
  program = {{ $sshSignProgram | quote }}
{{- end }}

# Aliases
[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
  hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
  type = cat-file -t
  dump = cat-file -p
  ac = commit -am
  fpush = push --force-with-lease

# LFS
[filter "lfs"]
  process = git-lfs filter-process
  required = true
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f

# Credentials
[credential]
{{- if .wsl }}
  helper = "/mnt/c/Program\ Files/Git/mingw64/bin/git-credential-manager.exe"
{{- end }}
{{- $helper := lookPath "git-credential-manager" }}
{{- if $helper }}
  helper = {{ $helper }}
{{- end }}
[credential "https://dev.azure.com"]
  useHttpPath = true
[url "https://github.com/"]
  insteadOf = git@github.com:
[includeIf "gitdir:~/projects/"]
  path = ~/projects/.gitconfig
[hub]
  protocol = https
