[user]
  name = hanlee
  email = me@hanlee.co
  signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIOuV2oRxBdZb+hH1+YDZChCCFuwHYDgFFekZtGwKTvjd
[core]
  editor = code --wait
  excludesfile = ~/.config/git/ignore
  autocrlf = input
  safecrlf = true
  pager = delta
[interactive]
  diffFilter = delta --color-only
[delta]
  navigate = true  # use n and N to move between diff sections
  line-numbers = true

# clearly makes git better
[column]
  ui = auto
[branch]
  sort = -committerdate
[tag]
  sort = version:refname
[init]
  defaultBranch = main
[diff]
  algorithm = histogram
  colorMoved = plain
  mnemonicPrefix = true
  renames = true
[split-diffs]
  theme-name = github-dark-dim
[merge]
  conflictstyle = zdiff3
[pull]
  rebase = true
[push]
  default = simple
  autoSetupRemote = true
  followTags = true
[fetch]
  prune = true
  pruneTags = true
  all = true

# why the hell not?
[help]
  autocorrect = prompt
[commit]
  gpgsign = true
  verbose = true
[rerere]
  enabled = true
  autoupdate = true
[rebase]
  autosquash = true
  autostash = true
  updateRefs = true

# GPG signing
[gpg]
  format = ssh
[gpg "ssh"]
  program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"

# Aliases
[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
  hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
  type = cat-file -t
  dump = cat-file -p
  ac = commit -am
  fpush = push --force-with-lease

# LFS
[filter "lfs"]
  process = git-lfs filter-process
  required = true
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f

# Credentials
[credential]
  helper = /usr/local/share/gcm-core/git-credential-manager
[credential "https://dev.azure.com"]
  useHttpPath = true
[url "https://github.com/"]
  insteadOf = git@github.com:
[includeIf "gitdir:~/projects/"]
  path = ~/projects/.gitconfig
[hub]
  protocol = https
